<footer class="site-footer">

  <div class="wrap">
    <div class="footer-col-1 column">
      <ul>
        <li>
        <a href="http://www.linkedin.com/profile/view?id=341778509">
          <span class="icon">
            <i class="fa fa-linkedin"></i> 
          </span>
          <span class="name">{{ site.name }}</span>
        </a>
        </li>
        <li>
        <a href="skype:emintham?chat">
          <span class="icon">
            <i class="fa fa-skype"></i> 
          </span>
          <span class="name">{{ site.username }}</span>
        </a>
        </li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        <li>
          <a href="https://github.com/{{ site.username }}">
            <span class="icon">
              <i class="fa fa-github"></i> 
            </span>
            <span class="username">{{ site.username }}</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/{{ site.username }}">
            <span class="icon">
              <i class="fa fa-twitter"></i> 
            </span>
            <span class="username">{{ site.username }}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>
